@model TugasTransaksiAPI.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@if (ViewBag.Warning != null)
{
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>@ViewBag.Warning</p>
    </div>
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>@ViewBag.Warning</p>
    </div>
}
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeBirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeBirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>

    </dl>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
